
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 30px;
}

h1 {
    color: #35b924;
    border-bottom: 3px solid #35b924;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2.2em;
    display: flex;
    justify-content: center;
}

p {
    margin-bottom: 15px;
    font-size: 1.1em;
}



nav {
    margin: 20px ;
    padding: 2.5px;
    display: flex;
    justify-content: flex-end;   
    
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 20px;
}

nav ul li a {
    color: #0056b3; 
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #003d7a;
    text-decoration: underline;
}


h2 {
    color: #343a40;
    margin-top: 30px;
    margin-bottom: 15px;
    border-left: 5px solid #4a9437;
    padding: 10px 10px 10px 15px;
    background-color: #8dc03b;
    border-radius: 4px;
}


ul.lista-admin-produktuak {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}

li.produktua-admin-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.produktua-info-admin {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.produktua-thumb {
    width: 40px; 
    height: 40px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


.produktua-actions-admin a {
    margin-left: 15px;
}

a[href*="aldatu"] {
    color: #28a745; 
    font-weight: bold;
}

a[href*="ezabatu"] {
    color: #dc3545; 
    font-weight: bold;
}


input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: #28a745;
    color: white;
}

form {
    display: inline-block;
    margin-right: 10px;
}

p a[href="irten.php"] {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

h3 {
    color: #343a40;
    margin-top: -40px;
    display: flex;
    justify-content:flex-start;
      
}
